body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

img {
    padding-top: 20px;
    width: 200px;
    height: auto;
}

.contact-info {
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77b5fe 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.section {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
}

h2 {
    color: #333;
    text-transform: uppercase;
}

li {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}